.save-status.succ {
  display: none;
  background-color: green;
  color: white;
  border-radius: 5px;
}

.save-status.err {
  display: none;
  background-color: red;
  color: white;
  border-radius: 5px;
}

#message {
  height: 30px;
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 15px;
}

label {
  width: 100%;
}

button {
  display: block;
  margin: auto;
  height: 30px;
  width: 40%;
  margin-top: 15px;

  background-color: blue;
  color: white;
  border-radius: 5px;
  opacity: .5;

}
